
@model ResetPasswordViewModel
<!-- css連結，確保在Bootsrap之下 -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<link rel="stylesheet" href="~/css/MemberUse/login.css" />
<body>

	<div class="container-loginandregister">

		<!-- 登入-->
		<div id="container1" class="login">

			<form asp-action="ResetPassword" asp-controller="Account" method="post">
				<input type="hidden" asp-for="Token"/>


				

					<div class="forgetchange">
						<input type="password" id="NewPassword" name="NewPassword" placeholder="新密碼"required />
					</div>
					<div class="forgetchange">
					<input type="password" id="ConfirmPassword" name="ConfirmPassword" placeholder="確認新密碼" required />
					</div>
					<span id="passwordMismatch" style="color: red; display: none;">輸入與新密碼不符合</span>
					<button type="submit" id="submitButton" class="button">重設密碼</button>
				
			</form>
			

			<!-- 切換 -->


		</div>

		<!-- 註冊 -->


	</div>

</body>


	<script>
		document.addEventListener("DOMContentLoaded", function () {
			let resetSuccess = '@ViewData["ResetSuccess"]';
			if (resetSuccess === 'True') {
				swal({
					title: "",
					text: "變更密碼成功！",
					icon: "success",
					buttons: false,
					timer: 1000,  // 1秒後自動關閉
					timerProgressBar: true
				}).then(function () {
					window.location.href = '@Url.Action("Login", "Account")'; // 跳轉到登入頁面
				});
			}
		});
</script>

<script>

	const newPassword = document.getElementById("NewPassword");
	const confirmPassword = document.getElementById("ConfirmPassword");
	const passwordMismatch = document.getElementById("passwordMismatch");
	const submitButton = document.getElementById("submitButton");

	// 監聽密碼輸入框的值改變
	newPassword.addEventListener("input", validatePassword);
	confirmPassword.addEventListener("input", validatePassword);

	function validatePassword() {
		if (newPassword.value !== confirmPassword.value) {
			// 如果密碼不匹配，顯示錯誤訊息並禁用提交按鈕
			passwordMismatch.style.display = "inline";
			submitButton.disabled = true;
		} else {
			// 如果密碼匹配，隱藏錯誤訊息並啟用提交按鈕
			passwordMismatch.style.display = "none";
			submitButton.disabled = false;
		}
	}
</script>


<!-- bar-js -->
<!-- JS連結 -->
<script src="~/js/MemberUse/login.js"></script>

<!-- 引入 jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>